@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

html{
    font-family: "Urbanist", sans-serif;
    font-size: calc(15px + 0.390625vw);
    background-color: #E6E8F7;
}

a {
    text-decoration: none;
}

header div {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

header ul {
    display: flex;
    align-items: center;
}

header ul li {
    margin-left: 10px;
}

header ul li a {
    color: #343F52;
    font-weight: 600;
}

section {
    margin: 10px;
}

section.top-notch {
    text-align: center;
    height: 400px;
    background: url(../images/bg-top.png) center no-repeat;
    /* background-size: 95%; */
    background-size: 100% 90%;
    
}

section.the-service {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px 15%;
}

section.the-service > h3, section.the-service > h2 {
    text-align: center;
}

section.the-service > h3 {
    color: #AAB0BC
}

section.the-service > h2 {
    font-size: 2rem;
    font-weight: 600;
}

section.the-service > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

section.the-service div > img {
    max-width: 30%;
    margin-right: 40px;
}

section.the-service div p, section.the-service ul li {
    margin: 10px 0
}

section.the-service button {
    border: none;
    border-radius: 15   px;
    background-color: #E9EAF8;
    color: #747ED1;
    padding: 15px;
}